<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    {% load account %}
    {% load socialaccount %}

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scal=1.0, minimum-scal=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block exterlinks %}{% endblock exterlinks%}

    <title>{% block title %}부산놀자{% endblock title%}</title>
</head>

<body>

<nav class="top-nav navbar navbar-static-top navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="{% url 'posts:index' %}" class="navbar-brand">부산놀자</a>
        </div>

        <div class="collapse navbar-collapse">

            <form method="GET" action="{% url posts:content_search %}" class="navbar-form navbar-left search-hashtag-form" role="search">
            <div class="form-group">
                <input type="text" class="form-control search-hashtag-input" placeholder="검색">
            </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href="">Likes</a></li>
                <li><a href="accounts/logout">Logout</a></li>
                {% else %}
                <li><a href="accounts/login">Login</a></li>
                <li><a href="accounts/signup">Signup</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
    <div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert-message alert
            {% if message.tags == 'info' %}
                alert-info
            {% elif message.tags == 'success' %}
                alert-success
            {% elif message.tags == 'warning' %}
                alert-warning
            {% elif message.tags == 'error' %}
                alert-danger
            {% endif %}
            ">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% block content %}{% endblock content %}
    </div>
</body>


</html>
