<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    {% load account %}
    {% load socialaccount %}

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scal=1.0, minimum-scal=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}부산놀자{% endblock %}</title>
</head>

<body>
    <div class="top top-defalut top-title">
    <div style="height: 40px; background-color: #f38b8c"
        <a href="/"><img src="{% static 'media/title.jpg' %}" height="40px"></a>
        <div class="top-body top-title-nav">
            {% if user.is_authenticated %}
                {{ user.username }}님_<a href="/accounts/logout">로그아웃</a>
            {% else %}
                <a href="/accounts/login">로그인</a>
            {% endif %}
        </div>

        <div id="sidebar">
            {% block sidebar %}
            <ul>
               <p><a href="/admin/">관리</a></p>
               <p><a href="/add/">새 게시물 작성</a></p>
            </ul>
            {% endblock sidebar %}
        </div>
    </div>




    <div class="container">
    {% block content %}{% endblock content %}
    </div>
</body>
</html>
