{% extends "base.html" %}

{% block search_form %}
    <form method="GET" action=".?" class="navbar-form navbar-left search-hashtag-form" role="search">
        <div class="form-group">
<!--            {{ form.q}}-->
        <input type="text" name=q class="form-control search-hashtag-input" placeholder="검색">
        </div>
    </form>
{% endblock search_form %}

{% block content %}
<h3>검색 결과</h3>

    {% if query %}
        {% for result in page.object_list %}
        <div class="panel panel-default post-item">
            <h4><a href="{{ result.object.url }}"><img src="{{ result.object.img.url }}" class="post-image"></a></h4>
        {% empty %}
            <p>검색 결과가 없습니다.</p>
        </div>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div class="panel panel-default post-item>
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}

{% endblock content %}
